
*{
    box-sizing: border-box;
}

button{
    outline: none;
}

.header{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 5px 30px 5px 20px;
}

.header::after{
    content: "";
    display: block;
    clear: both;
}

.logo{
    background: inherit;
    border:none;
}
.logo:hover{
    background:#fff;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #fff;
}
/*
.question-type{
    position: fixed;
    width: 100%;
}

.question-type div{
    background: #242d65;
    text-align: center;
    color: white;
    padding: 20px 0;
}

#navigate-question-type{
    position: fixed;
    width: 100%;
}

.type{
    display: inline;
    font-size: 13px;
    cursor: pointer;
}

.type a{
    text-decoration: none;
    color: Gainsboro ;
}

.type:hover a{
    text-decoration: none;
    color: Gainsboro;
    cursor: pointer;
}

.dash{
    display: inline-block;
    background: #fff;
    opacity: 100;
    height: 1px;
    width: 20px;
    transform: translateY(-4px);
    opacity: 0;
}
*/
.timer{
    margin-top: 20px;
}

.timer span{
    font-size: 32px;
    color: #242d65;
    font-weight: bold;
}

.questions button{
    width: 32px;
    height: 32px;
    margin: 0 5px 5px 0;
    border: none;
    text-align: center;
    color: #fff;
    background: #246ee9;
    border-radius: 50%;
}

.question button span{
    display: inline-block;
    font-size: 14px;
    transform: translate(-50%, -50%);
}

.questions{
    text-align: left;
}

/*.long-button{
    width: 45%;
    padding: 10px;
    margin-left: 15px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
}*/

/*.button-next-question, .button-previous-question{
    border: 1px solid #c1c7cd;
    background: #fff;
    color: #000;
    border-radius: 4px;
    transition: 0.2s;
}

.button-previous-question:hover{
    background: tomato;
    border-color: tomato;
    color: #fff;
    transition: 0.3s;
}

.button-next-question:hover{
    background: rgb(111, 196, 111);
    border-color: rgb(111, 196, 111);
    color: #fff;
    transition: 0.3s;
}
*/
/*.header .col-sm-9 .collapse .navbar-right li{
    display: inline-block;
    padding: 0 15px;
    margin-top: 5px
}

.header .col-sm-9 .collapse .navbar-right li button{
    padding: 10px 20px;
    background: inherit;
    border: none;
    font-size: 14px;
    color: #242d65;
    outline: none;
}

.header .col-sm-9 .collapse .navbar-right li button:hover{
    background: inherit;
}

.header .col-sm-9 .collapse .navbar-right li button img{
    transform: translate(-10px, -1px);
}

.header .col-sm-9 .collapse .navbar-right li.right-wall{
    margin-top: 10px;
    height: 25px;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.header .col-sm-9 .collapse .navbar-right li button i{
    font-size: 4px;
    display: inline-block;
}*/

.button-submit{
    padding: 8px 35px !important;
    background: #246ee9 !important;
    border: 1px solid #246ee9 !important;
    border-radius: 5px;
    color: #fff !important;
    transition: 0.2s ease-out;
}

.button-submit:hover{
    background: #fff !important;
    border: 1px solid #246ee9 !important;
    color: #246ee9 !important;
    transition: 0.2s ease-out;
}

/*#answer-review-panel{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    z-index: 10;
    display: none;
}

#answer-review{
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 50px 120px;
    overflow: auto;
}

.x-button{
    position: fixed;
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 40px;
    color: #111111;
    border: 1px solid #c1c7cd;
    border-radius: 50%;
    background: #fff;
    transition: 0.2s ease-out;
    top: 3%;
    right: 7%;
}

.x-button:hover{
    border-color: tomato;
    color: tomato;
    transition: 0.2s ease-out;
}*/
/*
#table-answer{
    margin-top: 20px;
}

#table-answer table{
    width: 100%;
    border-collapse: collapse;
}*/

/*#table-answer table tr th,td{
    box-sizing: border-box;
    font-size: 16px;
    width: 50%;
}*/

/*#table-answer table tr td{
    padding: 7px 20px;
}*/

/*#table-answer table tr th{
    padding: 7px 20px;
    background: #242d65;
    color: #fff;
    margin: 0 10px;
}

#table-answer table tr td span{
    position: absolute;
}*/

.question-number-answer{
    position: relative;
    display: inline-block;
    margin-right: 23px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    background: #00abe3;
    border: none;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.question-number-answer:hover{
    cursor: pointer;
    background: #9bd2e4;
    color: #000;
    transition: 0.2s ease-out;
}

.question-number-answer span{
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 3px;
    text-align: center;
}

#confirm-exit{
    position: fixed;
    width: 520px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -260px;
    background: #fff;
}

#confirm-exit span{
    position: absolute;
    top: 2%;
    right: 3%;
    display: inline-block;
    font-size: 35px;
    color: #444;
    cursor: pointer;
    transition: 0.2s ease-out;
}

#confirm-exit span:hover{
    color: tomato;
    cursor: pointer;
    transition: 0.2s ease-out;
}

#confirm-exit div button{
    border: 1px solid;
    width: 120px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 10px 0;
}

#cancel{
    background: #fff;
    border-color: #aaa;
    color: #333;
    transition: 0.2s ease-out;
}

#cancel:hover{
    background: #aaa;
    color: #fff;
    transition: 0.2s ease-out;
}

#ok{
    background: tomato;
    border-color: tomato;
    color: #fff;
    transition: 0.2s ease-out;
}

#ok:hover{
    background: rgb(247, 148, 130);
    border-color: rgb(247, 148, 130);
    transition: 0.2s ease-out;
}

/*body*/

.answer-text{
    font-size: 18px;
}

.question-number{
    color: #242d65;
    font-size: 13px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: bold;
}

.contain{
    width: 100%;
    height: 70vh;
}

.question{
    font-size: 25px;
    font-weight: bold;
}

.question .word{
    color: #00abe3;
}

.multi-choice-answer{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #d0d0d3;
    border-radius: 50%;
    border: none;
    color: #1b2733;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.multi-choice-answer-active{
    border: 1px solid rgb(128, 187, 110);
    background: rgb(128, 187, 110);
    color: #fff;
    cursor: pointer;
}

.button-speaking{
    background: rgb(250, 250, 250);
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 5px 20px;
    color: #333;
}

.half-screen{
    display: inline-block;
    width: 49%;
    height: 100%;
    overflow: auto;
}

.half-screen .col-sm-6 div label span{
    font-weight: normal;
}

.title {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #242d65;
}

.paragraph{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #1b2733;
}

.blank{
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid #ccc;
    height: 3px;
    background: #ccc;
    border-radius: 100px;
    padding: 0 10px;
}

.listening-blank-sentence{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #1b2733;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e8eaec; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7b8993; 
    border-radius: 10px;
} 